priority -50

snippet gei
document.getElementById
endsnippet

snippet gen
document.getElementByName
endsnippet

snippet gecn
document.getElementsByClassName
endsnippet

snippet getn
document.getElementsByTagName
endsnippet

snippet cattr
document.createAttribute
endsnippet

snippet cele
document.createElement
endsnippet

snippet ctn
document.createTextNode
endsnippet

snippet qselect
document.querySelector
endsnippet

# vim:ft=snippets:
