snippet rndrng
	Math.floor(Math.random() * (max - min + 1)) + min;
	${0}
snippet cli
	var readline = require('readline');
	var rl = readline.createInterface({
		input: process.stdin,
		output: process.stdout,
		terminal: false
	});

	${0}
