snippet #cr
	#![crate_name = "${1}"]
	#![crate_type = "${2}"]
	${3}

snippet errorln
	macro_rules! errorln {
		() => ({
			writeln!(::std::io::stderr(), "error").unwrap();
			::std::process::exit(1);
		});
		($fmt:expr) => ({
			writeln!(::std::io::stderr(), $fmt).unwrap();
			::std::process::exit(1);
		});
		($fmt:expr, $($arg:tt)*) => ({
			writeln!(::std::io::stderr(), $fmt, $($arg)*).unwrap();
			::std::process::exit(1);
		});
	}${0}
