URxvt.termName: urxvt

URxvt.font:xft:Hack:size=10,xft:IPAGothic:size=10,xft:Symbola:size=10
URxvt.boldFont:xft:Hack:bold:size=10,xft:IPAGothic:bold:size=10,xft:Symbola:bold:size=10
URxvt.italicFont: xft:Hack:size=10
URxvt.boldItalicFont: xft:Hack:bold:size=10

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.letterSpace: -2

URxvt*cursorColor: #886eff
URxvt*cursorColor2: #000000
URxvt.cursorBlink: true
URxvt.foreground: #BABABA
URxvt.depth: 32
URxvt*background: [84]#020814
URxvt.color0: #000000
URxvt.color1: #BA0000
URxvt.color2: #00BA00
URxvt.color3: #BABA00
URxvt.color4: #0000BA
URxvt.color5: #BA00BA
URxvt.color6: #00BABA
URxvt.color7: #BABABA
URxvt.color8: #555555
URxvt.color9: #FF5454
URxvt.color10: #54FF54
URxvt.color11: #FFFF54
URxvt.color12: #7799FF
URxvt.color13: #FF54FF
URxvt.color14: #54FFFF
URxvt.color15: #FFFFFF

URxvt.fading: 10
URxvt.fadeColor: [0]black

URxvt.saveLines: 32767
URxvt.scrollBar: false
URxvt*scrollWithBuffer: true

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Shift-space: \033[5~

URxvt.perl-ext-common: default,eval,url-select,keyboard-select,resize-font
URxvt.keysym.M-c: eval:selection_to_clipboard
URxvt.keysym.M-v: eval:paste_clipboard
URxvt.url-select.launcher: firefox-nightly
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.resize-font.bigger: C-Up
URxvt.resize-font.smaller: C-Down

Xft.dpi: 96
